{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>

<head>
    <title>Tasks</title>
</head>

<body>
    <div id="root">
        <!-- React root -->
    </div>

    {% render_bundle 'main' %}
</body>

</html>
